DATABASE_URL = "URL de conecção do prisma"
DIRECT_URL = " Scring de coneção direto do banco"
PORT = "porta do BD"
JWT_SECRET = " Senha para JWT"
COOKIE_SECRET = "Senha para Cookies"

IMAGEKIT_PUBLIC_KEY = ""
IMAGEKIT_PRIVATE_KEY = ""
IMAGEKIT_URL_ENDPOINT = ""
